html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    --backgroud-color: rgba(1, 20, 24, 1);
    --text-color: rgba(211, 186, 141, 1);
    box-sizing: border-box;
    background-color: var(--backgroud-color);
    font-size: 18px;
    color: var(--text-color);
    font-family: "Baskerville Old Face";
}

.content {
    display: flex;
}

.town-img {
    height: 720px;
    width: 40vw;
}

.right-part {
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
}

.tittle-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.title-text {
    font-size: 45px;
}

.under-title-text {
    font-size: 30px;
    margin-bottom: 20px;
}

.common-form {
    background-color: var(--backgroud-color);
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.input-wrap {
    clear: both;
    float: left;
    padding: 25px;
}

label {
    float: top;
    font-size: 20px;
    box-shadow: 0px 15px 10px -15px var(--text-color);
}

input {
    margin-top: 12px;
    background-color: var(--backgroud-color);
    color: rgba(185, 183,150, 1);
    display: block;
    width: 300px;
    height: 25px;
    border: none;
    font-size: 15px;
    border-bottom: 1px solid var(--text-color);
}

input:focus {
    outline: none;
}

.create-acc-butt {
    background-color: rgba(0, 0, 0, 0);
    color: var(--text-color);
    font-weight: 700;
    font-size: 1.2em;
    border: 2px solid var(--text-color);
    border-radius: 5px;
    padding: 10px 40px;
    margin: 40px 0;
    user-select: none;
}

.create-acc-butt:hover {
    background-color: var(--text-color);
    color: var(--backgroud-color);
}

.log-in {
    font-size: 25px;
}























































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































